body {
  color: $main-color;
  background-color: $white-color;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  font-family: $main-font;
  font-style: normal;
  letter-spacing: 0.08em;
  // overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
