// Цвет
$main-color: #111518;
$third-color: #3d3d3d;
$secondary-color: #b9b9b9;
$accent-color: #ff6b09;
$white-color: #ffffff;

$background-color: #e5e5e5;

// Анимация
$anim-timing: cubic-bezier(0.4, 0, 0.2, 1);
$anim-duration: 250ms;

// Шрифт
$main-font: 'Montserrat', sans-serif;
