<section class="benefits">
  <div class="container">
    <h2 class="benefits-section__title">Почему нас выбирают</h2>

    <div class="benefits-wrapper">
      <ol class="benefit-list">
        <li class="benefit-item">
          <div class="bemefit-item--wrapper" data-aos="fade-up" data-aos-delay="0">
            <h3 class="benefit-title">—</h3>
            <p class="benefit-text">Обучение в малых командах</p>
          </div>
        </li>
        <li class="benefit-item">
          <div class="bemefit-item--wrapper" data-aos="fade-up" data-aos-delay="150">
            <h3 class="benefit-title">—</h3>
            <p class="benefit-text">Визуализированные конспекты</p>
          </div>
        </li>
        <li class="benefit-item">
          <div class="bemefit-item--wrapper" data-aos="fade-up" data-aos-delay="300">
            <h3 class="benefit-title">—</h3>
            <p class="benefit-text">Каждое занятие имеет цель и конкретный результат</p>
          </div>
        </li>
        <li class="benefit-item">
          <div class="bemefit-item--wrapper" data-aos="fade-down" data-aos-delay="0">
            <h3 class="benefit-title">—</h3>
            <p class="benefit-text">Реальные результаты преподавателя</p>
          </div>
        </li>
        <li class="benefit-item">
          <div class="bemefit-item--wrapper" data-aos="fade-down" data-aos-delay="150">
            <h3 class="benefit-title">—</h3>
            <p class="benefit-text">Прогамма курса соответствует требованиям МОН Украины</p>
          </div>
        </li>
        <li class="benefit-item">
          <div class="bemefit-item--wrapper" data-aos="fade-down" data-aos-delay="300">
            <h3 class="benefit-title">—</h3>
            <p class="benefit-text">Набор команд по уровням знаний</p>
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>
