<section class="section-form" id="section-form">
  <div class="container footer-container">
    <form action="#" class="registration-form">
      <p
        class="registration-form-title"
        data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
      >
        Регистрация на <span class="text-accent"> бесплатную</span> телефонную
        <span class="text-accent">консультацию</span> по нюансам ЗНО по английскому языку
      </p>
      <p
        class="registration-form-text"
        data-aos="fade-right"
        data-aos-easing="ease-in-sine"
        data-aos-delay="300"
      >
        Оставь заявку на участие в <span class="text-accent">бесплатном занятии.</span> <br />
        С вами свяжется консультант и ответит на вопросы
      </p>
      <lable class="registration-form-widow">
        <input
          autocomplete="off"
          type="name"
          name="name"
          class="footer-form-input"
          placeholder="Имя*"
      /></lable>
      <lable class="registration-form-widow">
        <input
          autocomplete="off"
          type="phone"
          name="phone"
          class="footer-form-input"
          placeholder="Телефон*"
      /></lable>
      <button type="submit" class="registration-form-btn">Хочу на бесплатное занятие</button>
    </form>
  </div>
</section>
<section class="footer">
  <div class="contact-part" id="contacts">
    <div class="container footer-container">
      <a class="logo logo-footer" href="">
        <div class="hellEN">
          Hell
          <svg class="logo__icon" width="22" height="30">
            <use href="./images/svg/sprite.svg#icon-campfire-logo"></use>
          </svg>
          EN
        </div>
        <p class="logo__text">
          <span class="logo__text2">АДСКИЙ</span>
          АНГЛИЙСКИЙ
        </p>
      </a>
      <a type="phone" href="tel:+380000000000" class="phone-link">
        <svg class="phone-icon">
          <use href="./images/svg/sprite.svg#icon-footer-phone"></use>
        </svg>
        +38 (000)000 00 00
      </a>
      <a href="https://www.instagram.com/" class="insta-link">
        <img class="insta-link-icon" src="./images/icon-instagram.png" alt="инстаграм" />
      </a>
    </div>
  </div>
  <div class="botom-part">
    <div class="container footer-container">
      <p class="copy-rights-text">@ Все права защищены, 2019</p>
    </div>
  </div>
</section>
