<header class="header">
  <div class="container header--container">
    <a class="logo" href="">
      <div class="hellEN">
        Hell
        <svg class="logo__icon" width="22" height="30">
          <use href="./images/svg/sprite.svg#icon-campfire-logo"></use>
        </svg>
        EN
      </div>
      <p class="logo__text">
        <span class="logo__text2">АДСКИЙ</span>
        АНГЛИЙСКИЙ
      </p>
    </a>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link scrollTo" href="#programs"> ПРОГРАМИ ОБУЧЕНИЯ </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link scrollTo" href="#about"> О НАС </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link scrollTo" href="#howWedo"> ВАРИАНТЫ ОБУЧЕНИЯ </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link scrollTo" href="#contacts"> КОНТАКТЫ </a>
        </li>
      </ul>
    </nav>
    <button class="header__button" data-modal-open>КОНСУЛЬТАЦИЯ ПО ТЕЛЕФОНУ</button>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      type="button"
    >
      <svg class="menu-toggle__icon" width="20" height="12">
        <use href="./images/svg/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div class="menu-container js-menu-container" id="mobile-menu">
    <div class="menu-wrapper">
      <a class="logo menu__logo" href="">
        <div class="hellEN">
          Hell
          <svg class="logo__icon" width="22" height="30">
            <use href="./images/svg/sprite.svg#icon-campfire-logo"></use>
          </svg>
          EN
        </div>
        <p class="logo__text menu-logo__text">
          <span class="logo__text2">АДСКИЙ</span>
          АНГЛИЙСКИЙ
        </p>
      </a>

      <button class="close-toggle js-close-menu" type="button">
        <svg class="menu-toggle__icon" width="14.5" height="14.5">
          <use href="./images/svg/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <ul class="menu__list">
      <li class="menu__list-item">
        <a class="navigation__link--mobile" href="#programs"> Программа обучения </a>
      </li>
      <li class="menu__list-item">
        <a class="navigation__link--mobile" href="#about"> О нас </a>
      </li>
      <li class="menu__list-item">
        <a class="navigation__link--mobile" href="#howWedo"> Варианты обучения </a>
      </li>
      <li class="menu__list-item">
        <a class="navigation__link--mobile" href="#contacts"> Контакты </a>
      </li>
    </ul>

    <button class="header__button menu--header__button" data-modal-open-mobile>
      КОНСУЛЬТАЦИЯ ПО ТЕЛЕФОНУ
    </button>
  </div>
</header>
