<section class="hero container">
  <div class="hero__overlay">
    <h1 class="hero__title" data-aos="fade-right">
      Комплексная подготовка к ВНО по английскому языку
    </h1>
    <ul class="hero__list">
      <li class="hero__item" data-aos="fade-right" data-aos-delay="300">Просто не будет</li>
      <li class="hero__item" data-aos="fade-right" data-aos-delay="450">
        Но ты гарантировано получишь <span class="hero__span">+25 баллов</span>
      </li>
    </ul>
    <div class="hero__btn--wrapper" data-aos="fade-right" data-aos-offset="0" data-aos-delay="550">
      <button type="button" class="hero__button" data-scroll="section-form">
        Хочу на бесплатное занятие
      </button>
    </div>

    <div class="hero__thumb">
      <img
        class="hero__image"
        srcset="./images/hero_image.png 1x, ./images/hero_image2x.png 2x"
        src="./images/hero_image.png"
        alt="Преподаватель"
      />
    </div>
  </div>
</section>
