<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="backdrop-close" data-modal-close>
      <svg class="backdrop-close__icon" width="11" height="11">
        <use href="./images/svg/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form class="order-form">
      <h3 class="order-form__title">Оставьте свой телефон, наш консультант с Вами свяжется</h3>
      <label for="name" class="order-form__label">Имя</label>
      <div class="order-form__input-wrapper">
        <input class="order-form__input" type="text" name="name" id="name" autocomplete="off" />
        <svg width="18" height="18" class="order-form__modal-icon">
          <use href="./images/svg/sprite.svg#icon-name"></use>
        </svg>
      </div>
      <label for="phone" class="order-form__label">Телефон</label>
      <div class="order-form__input-wrapper">
        <input class="order-form__input" type="tel" name="phone" id="phone" autocomplete="off" />
        <svg width="18" height="18" class="order-form__modal-icon">
          <use href="./images/svg/sprite.svg#icon-phone"></use>
        </svg>
      </div>
      <label for="comment" class="order-form__label">Комментарий</label>
      <textarea
        class="order-form__comment"
        name="comment"
        id="comment"
        rows="4"
        placeholder="Укажите удобное время для звонка"
      ></textarea>
      <button type="submit" class="order-form__button">Отправить</button>
    </form>
  </div>
</div>

<!-- <script src="./js/modal.js"></script> -->
