<section class="problems">
  <div class="container">
    <h2 class="problems__heading" data-aos="fade-right">
      Главные проблемы учеников <br />
      на English ВНО, которые <br />
      мы <span class="problems__heading--orange">помогаем</span> решить
    </h2>
    <div class="problems__wrapper">
      <ol class="problems-list">
        <li class="problems-list__item" data-aos="fade-right" data-aos-delay="0">
          Название грамматики
        </li>
        <li class="problems-list__item" data-aos="fade-right" data-aos-delay="150">
          Неумение вомпринимать устную английскую речь
        </li>
        <li class="problems-list__item" data-aos="fade-right" data-aos-delay="250">
          Скупой словарный запас для написани сочинения
        </li>
        <li class="problems-list__item" data-aos="fade-right" data-aos-delay="0">
          Поодготовка в одиночку
        </li>
        <li class="problems-list__item" data-aos="fade-right" data-aos-delay="150">
          Отсутствие единого ресурса знаний
        </li>
        <li class="problems-list__item" data-aos="fade-right" data-aos-delay="250">
          Недостатой самоорганизации и лень
        </li>
      </ol>
    </div>
  </div>
</section>
