<section class="program" id="programs">
  <div class="container">
    <h2 class="program-section__title">Наша программа</h2>
    <div class="program-wrapper">
      <div class="program-inner">
        <ul class="lists-container">
          <li class="list-wrapper" data-aos="fade-up" data-aos-delay="0">
            <h3 class="list-title">1 семестр</h3>
            <ul class="list">
              <li class="sublist-item">
                — Grammar
                <ul>
                  <li class="basis-item">
                    Nouns & Articles<br />
                    Adjectives & Adverb
                  </li>
                </ul>
              </li>
              <li class="sublist-item">
                — Vocabulary
                <ul>
                  <li class="basis-item">
                    Family & Relations<br />
                    People & Society
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="list-wrapper" data-aos="fade-up" data-aos-delay="150">
            <h3 class="list-title">2 семестр</h3>
            <ul class="list">
              <li class="sublist-item">
                — Grammar
                <ul>
                  <li class="basis-item">
                    Pronouns<br />
                    Active Voice<br />
                    Passive Voice
                  </li>
                </ul>
              </li>
              <li class="sublist-item">
                — Vocabulary
                <ul>
                  <li class="basis-item">
                    Home<br />
                    School<br />
                    Work
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="list-wrapper" data-aos="fade-up" data-aos-delay="300">
            <h3 class="list-title">3 семестр</h3>
            <ul class="list">
              <li class="sublist-item">
                — Grammar
                <ul>
                  <li class="basis-item">
                    Modal verbs<br />
                    Infinitive<br />
                    Gerund<br />
                    Participle: 1, 2
                  </li>
                </ul>
              </li>
              <li class="sublist-item">
                — Vocabulary
                <ul>
                  <li class="basis-item">
                    Travel & Tourism<br />
                    Culture & Free Time<br />
                    Sport
                  </li>
                </ul>
              </li>
              <li class="sublist-item">
                — Writing
                <ul>
                  <li class="basis-item">Informal Letter</li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="list-wrapper" data-aos="fade-up" data-aos-delay="0">
            <h3 class="list-title">4 семестр</h3>
            <ul class="list">
              <li class="sublist-item">
                — Grammar
                <ul>
                  <li class="basis-item">
                    Clauses: Conditional and<br />
                    Wishes<br />
                    Direct / Reported speech<br />
                    Preposition<br />
                    Conjunction<br />
                    Numeral
                  </li>
                </ul>
              </li>
              <li class="sublist-item">
                — Vocabulary
                <ul>
                  <li class="basis-item">
                    Healthy Living<br />
                    Nature & Environment<br />
                    Money
                  </li>
                </ul>
              </li>
              <li class="sublist-item">
                — Writing
                <ul>
                  <li class="basis-item">Formal Letter</li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="list-wrapper" data-aos="fade-up" data-aos-delay="150">
            <h3 class="list-title">5 семестр</h3>
            <ul class="list">
              <li class="sublist-item">
                —
                <ul>
                  <li class="basis-item">
                    Revision<br />
                    Tests
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
