<section class="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title" data-aos="fade-down">Отзывы выпускников</h2>
    <div class="js-slider">
      <article class="reviews__item js-slider__item">
        <div class="reviews__image-icon">
          <img
            class="reviews__image"
            src="./images/reviews/Ellipse-9.png"
            alt="Фотография выпускника"
            srcset="./images/reviews/Ellipse-9@2x.png 2x"
          />
          <a href="" class=""
            ><svg class="reviews__icon-vk" width="30" height="30">
              <use href="./images/svg/sprite.svg#icon-vk"></use></svg
          ></a>
        </div>
        <div class="reviews__alumnus">
          <h3 class="reviews__alumnus-name">Тоня Кучеровская</h3>
          <h4 class="reviews__alumnus-info">
            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
          </h4>
          <p class="reviews__text">
            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
            Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
            я можу похизуватись тим, що я студен ...
            <a class="reviews__text--more">Читать дальше</a>
          </p>
        </div>
      </article>
      <article class="reviews__item js-slider__item">
        <div class="reviews__image-icon">
          <img
            class="reviews__image"
            src="./images/reviews/Ellipse-10.png"
            alt="Фотография выпускника"
            srcset="./images/reviews/Ellipse-10@2x.png 2x"
          />
          <a href="" class=""
            ><svg class="reviews__icon-vk" width="30" height="30">
              <use href="./images/svg/sprite.svg#icon-vk"></use></svg
          ></a>
        </div>
        <div class="reviews__alumnus">
          <h3 class="reviews__alumnus-name">Алёна Иванова</h3>
          <h4 class="reviews__alumnus-info">
            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
          </h4>
          <p class="reviews__text">
            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
            Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
            я можу похизуватись тим, що я студен ...
            <a class="reviews__text--more">Читать дальше</a>
          </p>
        </div>
      </article>
      <article class="reviews__item js-slider__item">
        <div class="reviews__image-icon">
          <img
            class="reviews__image"
            src="./images/reviews/Ellipse-11.png"
            alt="Фотография выпускника"
            srcset="./images/reviews/Ellipse-11@2x.png 2x"
          />
          <a href="" class=""
            ><svg class="reviews__icon-vk" width="30" height="30">
              <use href="./images/svg/sprite.svg#icon-vk"></use></svg
          ></a>
        </div>
        <div class="reviews__alumnus">
          <h3 class="reviews__alumnus-name">Анастасия Смирнова</h3>
          <h4 class="reviews__alumnus-info">
            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
          </h4>
          <p class="reviews__text">
            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
            Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
            я можу похизуватись тим, що я студен ...
            <a class="reviews__text--more">Читать дальше</a>
          </p>
        </div>
      </article>
      <article class="reviews__item js-slider__item">
        <div class="reviews__image-icon">
          <img
            class="reviews__image"
            src="./images/reviews/Ellipse-12.png"
            alt="Фотография выпускника"
            srcset="./images/reviews/Ellipse-12@2x.png 2x"
          />
          <a href="" class=""
            ><svg class="reviews__icon-vk" width="30" height="30">
              <use href="./images/svg/sprite.svg#icon-vk"></use></svg
          ></a>
        </div>
        <div class="reviews__alumnus">
          <h3 class="reviews__alumnus-name">Анна Кузнецова</h3>
          <h4 class="reviews__alumnus-info">
            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
          </h4>
          <p class="reviews__text">
            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
            Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
            я можу похизуватись тим, що я студен ...
            <a class="reviews__text--more">Читать дальше</a>
          </p>
        </div>
      </article>
      <article class="reviews__item js-slider__item">
        <div class="reviews__image-icon">
          <img
            class="reviews__image"
            src="./images/reviews/Ellipse-13.png"
            alt="Фотография выпускника"
            srcset="./images/reviews/Ellipse-13@2x.png 2x"
          />
          <a href="" class=""
            ><svg class="reviews__icon-vk" width="30" height="30">
              <use href="./images/svg/sprite.svg#icon-vk"></use></svg
          ></a>
        </div>
        <div class="reviews__alumnus">
          <h3 class="reviews__alumnus-name">Вероника Попова</h3>
          <h4 class="reviews__alumnus-info">
            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
          </h4>
          <p class="reviews__text">
            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
            Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
            я можу похизуватись тим, що я студен ...
            <a class="reviews__text--more">Читать дальше</a>
          </p>
        </div>
      </article>
      <article class="reviews__item js-slider__item">
        <div class="reviews__image-icon">
          <img
            class="reviews__image"
            src="./images/reviews/Ellipse-14.png"
            alt="Фотография выпускника"
            srcset="./images/reviews/Ellipse-14@2x.png 2x"
          />
          <a href="" class=""
            ><svg class="reviews__icon-vk" width="30" height="30">
              <use href="./images/svg/sprite.svg#icon-vk"></use></svg
          ></a>
        </div>
        <div class="reviews__alumnus">
          <h3 class="reviews__alumnus-name">Виктория Васильева</h3>
          <h4 class="reviews__alumnus-info">
            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
          </h4>
          <p class="reviews__text">
            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
            Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
            я можу похизуватись тим, що я студен ...
            <a class="reviews__text--more">Читать дальше</a>
          </p>
        </div>
      </article>
      <article class="reviews__item js-slider__item">
        <div class="reviews__image-icon">
          <img
            class="reviews__image"
            src="./images/reviews/Ellipse-15.png"
            alt="Фотография выпускника"
            srcset="./images/reviews/Ellipse-15@2x.png 2x"
          />
          <a href="" class=""
            ><svg class="reviews__icon-vk" width="30" height="30">
              <use href="./images/svg/sprite.svg#icon-vk"></use></svg
          ></a>
        </div>
        <div class="reviews__alumnus">
          <h3 class="reviews__alumnus-name">Елена Соколова</h3>
          <h4 class="reviews__alumnus-info">
            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
          </h4>
          <p class="reviews__text">
            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
            Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
            я можу похизуватись тим, що я студен ...
            <a class="reviews__text--more">Читать дальше</a>
          </p>
        </div>
      </article>
    </div>
    <!-- <div class="reviews__list-slider">
      <ul class="reviews__list">
        <li class="reviews__image-item">
          <a href="" class="reviews__image-link"
            ><img
              class="reviews__image-slider"
              src="./images/reviews/Ellipse-9.png"
              alt="Фотография выпускника"
              srcset="./images/reviews/Ellipse-9@2x.png 2x"
          /></a>
        </li>
        <li class="reviews__image-item">
          <a href="" class="reviews__image-link"
            ><img
              class="reviews__image-slider"
              src="./images/reviews/Ellipse-10.png"
              alt="Фотография выпускника"
              srcset="./images/reviews/Ellipse-10@2x.png 2x"
          /></a>
        </li>
        <li class="reviews__image-item">
          <a href="" class="reviews__image-link"
            ><img
              class="reviews__image-slider"
              src="./images/reviews/Ellipse-11.png"
              alt="Фотография выпускника"
              srcset="./images/reviews/Ellipse-11@2x.png 2x"
          /></a>
        </li>

        <li class="reviews__image-item">
          <a href="" class="reviews__image-link"
            ><img
              class="reviews__image-slider"
              src="./images/reviews/Ellipse-12.png"
              alt="Фотография выпускника"
              srcset="./images/reviews/Ellipse-12@2x.png 2x"
          /></a>
        </li>
        <li class="reviews__image-item reviews__image-item--hidden">
          <a href="" class="reviews__image-link"
            ><img
              class="reviews__image-slider-hidden"
              src="./images/reviews/Ellipse-13.png"
              alt="Фотография выпускника"
              srcset="./images/reviews/Ellipse-13@2x.png 2x"
          /></a>
        </li>
        <li class="reviews__image-item reviews__image-item--hidden">
          <a href="" class="reviews__image-link"
            ><img
              class="reviews__image-slider-hidden"
              src="./images/reviews/Ellipse-14.png"
              alt="Фотография выпускника"
              srcset="./images/reviews/Ellipse-14@2x.png 2x"
          /></a>
        </li>
        <li class="reviews__image-item reviews__image-item--hidden">
          <a href="" class="reviews__image-link"
            ><img
              class="reviews__image-slider-hidden"
              src="./images/reviews/Ellipse-15.png"
              alt="Фотография выпускника"
              srcset="./images/reviews/Ellipse-15@2x.png 2x"
          /></a>
        </li>
      </ul>
    </div> -->
  </div>
</section>

<!-- <div class="reviews__list-slider">
      <ul class="reviews__list">
        <li class="reviews__image-item">
          <a href="" class="reviews__image-link"
            ><img
              class="reviews__image-slider"
              src="./images/reviews/Ellipse-9.png"
              alt="Фотография выпускника"
              srcset="./images/reviews/Ellipse-9@2x.png 2x"
          /></a>
        </li>
        <li class="reviews__image-item">
          <a href="" class="reviews__image-link"
            ><img
              class="reviews__image-slider"
              src="./images/reviews/Ellipse-10.png"
              alt="Фотография выпускника"
              srcset="./images/reviews/Ellipse-10@2x.png 2x"
          /></a>
        </li>
        <li class="reviews__image-item">
          <a href="" class="reviews__image-link"
            ><img
              class="reviews__image-slider"
              src="./images/reviews/Ellipse-11.png"
              alt="Фотография выпускника"
              srcset="./images/reviews/Ellipse-11@2x.png 2x"
          /></a>
        </li>
      </ul>
      <div class="reviews__list--hidden">
        <ul class="reviews__list--hidden">
          <li class="reviews__image-item">
            <a href="" class="reviews__image-link"
              ><img
                class="reviews__image-slider"
                src="./images/reviews/Ellipse-12.png"
                alt="Фотография выпускника"
                srcset="./images/reviews/Ellipse-12@2x.png 2x"
            /></a>
          </li>
          <li class="reviews__image-item reviews__image-item--hidden">
            <a href="" class="reviews__image-link"
              ><img
                class="reviews__image-slider-hidden"
                src="./images/reviews/Ellipse-13.png"
                alt="Фотография выпускника"
                srcset="./images/reviews/Ellipse-13@2x.png 2x"
            /></a>
          </li>
          <li class="reviews__image-item reviews__image-item--hidden">
            <a href="" class="reviews__image-link"
              ><img
                class="reviews__image-slider-hidden"
                src="./images/reviews/Ellipse-14.png"
                alt="Фотография выпускника"
                srcset="./images/reviews/Ellipse-14@2x.png 2x"
            /></a>
          </li>
          <li class="reviews__image-item reviews__image-item--hidden">
            <a href="" class="reviews__image-link"
              ><img
                class="reviews__image-slider-hidden"
                src="./images/reviews/Ellipse-15.png"
                alt="Фотография выпускника"
                srcset="./images/reviews/Ellipse-15@2x.png 2x"
            /></a>
          </li>
        </ul>
      </div>
    </div> -->
