.benefits {
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;

  transform: translateY(-50px);
  background: linear-gradient($main-color 70%, $white-color 30%);

  @media screen and (min-width: 768px) {
    // padding-bottom: 50px;
    // padding-top: 50px;
    transform: translateY(-50px);
    background: linear-gradient($main-color 50%, $white-color 50%);
  }

  @media screen and (min-width: 1344px) {
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
  }
}

.benefits-section__title {
  margin-bottom: 30px;

  color: $white-color;

  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  line-height: 1.36;
  align-items: left;
  letter-spacing: 0.03;

  @media screen and(max-width: 767px) {
    max-width: 180px;
  }

  @media screen and(min-width: 768px) {
    font-size: 26px;
    line-height: 1.308;

    text-align: center;
  }

  @media screen and(min-width: 1344px) {
    display: none;
  }
}

.benefits-wrapper {
  counter-reset: tidbit-counter;
  padding: 20px 23px 20px 30px;
  min-width: 280px;

  background-color: $white-color;
  box-shadow: -5px 21px 26px rgb(0 0 0 / 4%);

  @media screen and(min-width: 768px) {
    padding: 30px 45px;
  }

  @media screen and (min-width: 1344px) {
    // height: 398px;
    // max-width: 1314px;
    // padding: 70px 76px;
  }
}

.benefit-list {
  margin: 0;
  padding: 0;
  counter-reset: tidbit-counter;

  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -20px;
  }

  @media screen and(min-width: 1344px) {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: -32px;
    margin-right: -40px;
  }
}

.benefit-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and(min-width: 768px) {
    margin-bottom: 30px;
    margin-right: 20px;

    flex-basis: calc((100% - 40px) / 2);
  }

  @media screen and(min-width: 2344px) {
    margin-bottom: 32px;
    margin-right: 40px;
    flex-basis: calc((100% - 120px) / 3);
  }
}

.benefit-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.429;

  letter-spacing: 0.08em;

  color: $main-color;

  @media screen and(min-width: 1344px) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.benefit-title {
  position: relative;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.642;

  display: flex;
  align-items: center;
  letter-spacing: 0.08em;

  color: $accent-color;

  @media screen and(min-width: 1344px) {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.08em;
  }

  &:after {
    position: absolute;
    counter-increment: tidbit-counter;
    content: '0' counter(tidbit-counter);
    left: 24px;
    top: 0;
  }
}
